<!DOCTYPE html>
<html>
    <head>
        <title>Facebook</title>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="container-fluid">
            <a id="link" href="/auth/facebook" target="_blank">Login With Facebook</a>
        </div>
    </body>
</html>